@page "/CreateHandover"
@inherits CreateHandoverBase
<div class="container-fluid">
    <h4 class="text-primary text-center">Maak een nieuwe overdracht aan</h4>

    <EditForm Model="handover" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        @*Date on which date the handover applies*@
        <div class="row mb-1">
            <div class="col">
                Datum
            </div>
            <div class="col">
                <InputDate class="form-control" @bind-Value="handover.DateHandover"></InputDate>
            </div>
        </div>
        @*Title*@
        <div class="row mb-1">
            <div class="col">
                Titel
            </div>
            <div class="col">
                <InputText class="form-control" @bind-Value="handover.Title"></InputText>
            </div>
        </div>
        @*Kindof handover select*@
        <div class="row mb-1">
            <div class="col">
                Soort
            </div>
            <div class="col">
                <select class="form-select" @bind="@handover.KindofHandoverId">
                    <option default selected value=" ">Selecteer soort overdracht</option>
                    @if (kindofReportService != null)
                    {
                        @foreach (var item in kindofReportService.KindofReports)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }

                </select>
            </div>
        </div>
        @*Description of handover*@
        <div class="row mb-1">
            <div class="col">
                Omschrijving
            </div>
            <div class="col">
                <InputTextArea class="form-control" @bind-Value="handover.Description"></InputTextArea>
            </div>
        </div>
        @*Date of handover*@
        <div class="row mb-1">
            <div class="col-md-8">
                Niet van toepassing
            </div>
            <div class="col-md-1">
                <InputCheckbox class="form-check" @bind-Value="handover.NoStartEnd"></InputCheckbox>
            </div>
        </div>
        <div class="row">
            <div class="col mt-1">
                Datum start
            </div>
            <div class="col mt-1">
                <InputDate @bind-Value="handover.StartDate"></InputDate>
                <input type="time" @bind="handover.StartTime" />
            </div>
        </div>
        <div class="row">
            <div class="col mt-1">
                Datum eind
            </div>
            <div class="col mt-1">
                <InputDate @bind-Value="handover.EndDate"></InputDate>
                <input type="time" @bind="handover.EndTime" />
            </div>
        </div>
        <div class="row">
            <div class="col mt-1">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
            <div class="col mt-1">
                <button type="reset" class="btn btn-secondary">Opnieuw</button>
            </div>
        </div>
    </EditForm>

    <div class="row">
        <div class="col-md-12 text-center text-primary mt-4">
            Actieve overdracht
        </div>
    </div>
    <hr />

    <table class="table table-light text-center">
        <thead class="thead-light">
            <tr>
                <th class="col-md-2">Datum</th>
                <th class="col-md-4">Titel</th>
                <th class="col-md-4">Soort</th>
                <th class="col-md-2">Details</th>
                <th class="col-md-2">Archieveren</th>
            </tr>
        </thead>
        @if (handoverService != null)
        {


            @foreach (var item in handoverService.HandoversList)
            {
                <tbody>
                    <tr>
                        <td>@item.DateCreated.ToShortDateString()</td>
                        <td>@item.Title</td>
                        @if (kindofReportService != null)
                        {
                            <td>@kindofReportService.KindofReports.Where(m => m.Id == item.KindofHandoverId).Select(m => m.Name).FirstOrDefault()</td>
                        }
                        <td><button class="btn btn-outline-primary"><span class="oi oi-eye"></span></button></td>
                        <td><button class="btn btn-outline-danger"><span class="oi oi-box"></span></button></td>
                    </tr>
                </tbody>
            }
        }
    </table>

</div>